.images img{
    width: 100%; /* Ensure the image fills its container */
    height: 100%; /* Ensure the image fills its container */
    object-fit: cover; /* Ensure the image covers the container */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}